<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>19895391986-40rrh4q9bdr5mmd6vgd9ae6qr1ddb7h8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.19895391986-40rrh4q9bdr5mmd6vgd9ae6qr1ddb7h8</string>
	<key>API_KEY</key>
	<string>AIzaSyBV3BfIQhuyybvDmGRpkPY9Ob8C1SNT1KM</string>
	<key>GCM_SENDER_ID</key>
	<string>19895391986</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.manngold.mobiese</string>
	<key>PROJECT_ID</key>
	<string>mobiese-69c91</string>
	<key>STORAGE_BUCKET</key>
	<string>mobiese-69c91.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:19895391986:ios:a4482fca4f6f705fbc226b</string>
</dict>
</plist>